<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h1>Hello World PrimeFaces</h1>

	<h:form>
		<p:editor value="#{editor.value}" />
	</h:form>
	<h:form>
		<h:selectOneMenu>
		   <f:selectItems value="#{usuarioBean.listaUsuarios}" var="u" itemLabel="#{u.primeiroNome}" itemValue="#{u.id}"></f:selectItems>
		</h:selectOneMenu>
	</h:form>
</h:body>
</html>