<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h:form>
		<p:growl sticky="true" showDetail="true">

			<p:pickList id="pickListCidades"
				value="#{pickListView.cidadesVisitadasPick}" var="cidade"
				itemLabel="#{cidade.nome}" itemValue="#{cidade}" converter="primeFacesPickListConverter">
				<f:facet name="sourceCaption">Disponivel</f:facet>
				<f:facet name="targetCaption">Visitada</f:facet>

			</p:pickList>
          <p:commandButton value="Salvar" action="#{pickListView.salvar()}"/>
		</p:growl>
	</h:form>
	<h:form>
	    <p:commandButton value="Salvar" action="#{pickListView.salvar()}" oncomplete="handleLoginRequest(xhr, status, args)" />
		
	</h:form>
</h:body>
</html>